.header-bg {
  background: linear-gradient(90deg, #e08e50, #e08e50 15%, #efb585 35%, #fedbbd 50%, #efb585 65%, #e08e50 85%, #e08e50);;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: .08rem
}