.selection {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  background-color: #292d33;
}

.bg-BNB {
  background-image: url('../../assets/bnb.svg');
}

.bg-Bep20 {
  background-image: url('../../assets/bep20.svg');
}