#main-input {
  position: relative;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, .08), hsla(0, 0%, 100%, .04));
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: .3s;
  &:hover {
      box-shadow: 2px 4px 20px 6px rgba(189, 124, 64, 0.564705)
  }
}
