@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root {
  width: 100%;
  height: 100%;
}

input:focus-visible {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-scrollbar {
  overflow-y: overlay;
}

/* 修改message的样式 */
.ant-message > .ant-message-notice-wrapper .ant-message-notice-content {
  background-color: #333;
  color: #e9ebf0;
}
::-webkit-scrollbar-track {
  background-color: #424242;
}

::-webkit-scrollbar {
  background-color: #686868;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #686868;
}

.ant-table {
  scrollbar-width: auto!important;
  scrollbar-color: auto!important;
}